@font-face {
    font-family: 'a_LCDNova';
    src: url('subset-a_LCDNova.eot');
    src: url('subset-a_LCDNova.eot?#iefix') format('embedded-opentype'),
        url('subset-a_LCDNova.woff2') format('woff2'),
        url('subset-a_LCDNova.woff') format('woff'),
        url('subset-a_LCDNova.svg#a_LCDNova') format('svg');
    font-weight: normal;
    font-style: normal;
}

